{% include 'header.html' %}
{% load static %}



<div class="col-lg-12 mt-5">
    <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-5">
        {% if messages %}
            <div class="messages" style="margin-right:15px;">
            {% for message in messages %}
                <h2 class="text-dark">{{ message }}</h2>

            {% endfor %}
            </div>
        {% endif %}</div>
    <div class="col-lg-4"></div>
</div>
    <div class="card">
    <div class="card-header bg-primary">Create Notification</div>
    <div class="card-body">
        <div class="container">
            <form method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        <label>Subject&nbsp;<spna>*</spna></label>
                        <input type="text" name="subject" class="form-control" placeholder="Mail Subject" required>
                    </div>
                    <div class="col-lg-6">
                        <label>Data Collector Email&nbsp;<spna>*</spna></label>
                        <input type="email" name="recipient" class="form-control" placeholder="exammail@gmail.com" required>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-lg-12">
                        <label>Message <span style="color:red;">*</span></label>
                        <textarea name="message" cols="30" rows="4" class="form-control" required></textarea>
                    </div>


                </div>
                <button class="btn btn-primary mt-2 float-right" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>


{% include 'footer.html' %}